$def with (anime, episodes, episodeTryForm, episodeSkipForm, editorForm, computeAirdate)
$var title = anime.title

<h2>$anime.officialTitle</h2>
<h3>Group: $anime.subber</h3>

<table border="1" width="100%">
    <thead>
    <tr>
        <th>Episode</th>
        <th>Title</th>
        <th>Airdate</th>
        <th>Status</th>
        <th colspan="2">Search</th>
    </tr>
    </thead>
$for episode in episodes:
	<tr>
		<td>$(episode.episode)</td>
		<td>$episode.title</td>
        $if episode.airdate!=None:
            <td>$:computeAirdate(episode.airdate, anime.airTime).strftime("%Y-%m-%d %H:%M")</td>
        $else:
            <td>TBD</td>
        $if episode.wanted == 3:
            <td>Downloaded</td>
        $if episode.wanted == 2:
            <td>Snatched</td>
        $if episode.wanted == 1:
            $if episode.airdate!=None:
                $if computeAirdate(episode.airdate, anime.airTime) > datetime.datetime.now():
                    <td>Unaired</td>
                $else:
                    <td>Wanted</td>
            $else:
                <td>Unaired</td>
        $if episode.wanted == 0:
            <td>Skipped</td>
        <td>
            <form id="try$episode.episode" action="" method="post">
                $:episodeTryForm(episode.episode).episode.render()
                $:episodeTryForm(episode.episode).form.render()
            </form>
            <a href="" onclick="document.getElementById('try$episode.episode').submit();return false;">Try</a>
        </td>
        <td>
            <form id="skip$episode.episode" action="" method="post">
                $:episodeSkipForm(episode.episode).episode.render()
                $:episodeSkipForm(episode.episode).form.render()
            </form>
            $if episode.wanted == 1:
                <a href="" onclick="document.getElementById('skip$episode.episode').submit();return false;">Skip</a>
            $if episode.wanted != 1:
                <a href="" onclick="document.getElementById('skip$episode.episode').submit();return false;">Want</a>
        </td>
	</tr>
</table>

</br>


<h4>Editor</h4>
<p>Note: If no releases are being picked up by Anorak it's probably because the release group is using a different name other than the official name picked up by AniDB.net. Try overriding the name for search.</p>
<form action="" method="post">
$:editorForm.render()
</form>

</br>
<a href="/remove/$anime.id">Remove Anime</a> | <a href="/refresh/$anime.id">Refresh Anime Metadata</a>
